main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-size: 2em;
    padding: 6em 10em;
    background-color: rgb(39, 0, 39);
    text-align: center;
    background-image: url(/retro.jpg);
    background-repeat: none;
    background-size: 100%;
}

.titulo {
    color: blueviolet;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 64px rgb(200, 150, 247);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(199, 139, 255);
    font-family: 'Orbitron', sans-serif;
}

.texto, .texto-futuro, .text, .future-text {
    font-size: 0.8em;
    text-shadow: 0 0 32px rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    main {
        font-size: 2em;
        padding: 4em 5em;
    }
}

@media (max-width: 414px) {
    main {
        width: 390px;
        font-size: 18px;
        display: flex;
        width: 414px;
        padding: 140px 0;
    }

    .titulo {
        font-size: 1.2em;
    }

    .texto, .texto-futuro, .text, .future-text {
        text-align: justify;
        font-size: 0.9em;
        padding: 1px 15px;
    }
}


