main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-size: 2em;
    padding: 5em 10em;
    background-image: url('/Retro2.jpg');
    background-repeat: none;
    background-size: cover;
}

.titulo {
    color: blueviolet;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 64px rgb(200, 150, 247);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(199, 139, 255);
    font-family: 'Orbitron', sans-serif;
}

.subtitulo {
    font-size: 0.8em;
    text-shadow: 0 0 32px rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;
}

.foto {
    width: 10em;
    height: 14em;
    border-radius: 20px;
    border: 4px solid blueviolet;
    box-shadow: 0 0 32px rgb(214, 79, 255);
}